
        <link rel="stylesheet" href="/css/home.css">
        
        <div id="home-container">
                <section id="feed-posts">
                        <h4>Posts</h4>
                        <% if(locals.user){ %>
                        <form action="/posts/create" id="new-post-form" method="POST">
                                <textarea name="content" cols="30" rows="3" placeholder="Type here .." required></textarea>
                                <input type="submit" value="Post">
                        </form>
                        <% } %>
                        
                        <div id="posts-list-container">
                             <ul>
                                <% for(post of posts){ %>
                                    <%- include('_post') -%>    
                                <% } %>        
                             </ul>                   
                        </div>
                </section>
                <section id="user-friends">
                        <div id="friends-container">
                                <h4>Friends</h4>
                                <% if(locals.user){ %>
                                        <% for(u of curr_user.friendships){ %>
                                                <p>
                                                        <% if(locals.user.id == u.to_user.id){ %>
                                                                <a href="users/profile/<%= u.from_user.id %>"><%= u.from_user.user %></a>
                                                        <% }else{ %>
                                                        <a href="users/profile/<%= u.to_user.id %>"><%= u.to_user.user %></a>
                                                        <% } %>
                                                </p>
                                        <% } %>
                                <% } %>        
                        </div>
                        <div id="users-container">
                                <h4>Users</h4>
                                <% for(u of all_users){ %>
                                        <p>
                                        <a href="users/profile/<%= u.id %>"><%= u.user %></a>    
                                        </p>
                                <% } %>
                        </div>
                   
                </section>
        </div>
        <script src="/js/home_posts.js"></script>
        <script src="/js/post_comments.js"></script>

        <script src="/js/toggle_likes.js"></script>
        <script>
                $('.toggle-like-button').each(function(){
                        let self = this;
                        //console.log('Value of this in home ejs', this);
                        let toggleLike = new ToggleLike(self);
                });
        </script>