        <link rel="stylesheet" type="text/css" href="/css/users_profile.css">
        
        <img src="<%= profile_user.avatar %>" alt="profile_user.user" width="100">

        <% if(user.id == profile_user.id){ %>
                <!-- If user Matches then show the form -->
                <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
                        <input type="text" name="user" placeholder="Your Name" value="<%= profile_user.user %>">
                        <input type="text" name="email" placeholder="Your Email" value="<%= profile_user.email %>">
                        <input type="file" name="avatar" placeholder="Profile Picture">
                        <input type="submit" value="Update">
                </form>
        <% } else{ %>
                <!-- Else Show only the Profile Info -->
                <p><%= profile_user.user %></p>
                <p><%= profile_user.email %></p>
                <p>
                        <a class="toggle-friend-button" href="/friendships/toggle/?to=<%= profile_user._id %>">
                                <% if(is_friend){ %>
                                Remove
                                <% } else{ %> 
                                Add
                                <% } %>
                        </a>
                </p>
                
        <% } %>        
        <script src="/js/toggle_friendships.js"></script>
        <script>
               $('.toggle-friend-button').each(function(){
                        let self = this;
                        console.log('Value of this in home ejs', this);
                        let toggleFriendship = new ToggleFriendship(self);
                });
        </script>